/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block}
audio, canvas, video {display:inline-block; *display:inline; *zoom:1}
audio:not([controls]) {display:none}
[hidden] {display:none}

html {font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; line-height:1.6}
body {margin:0;}

::-moz-selection {background:#fe57a1; color:#fff; text-shadow:none}
::selection {background:#fe57a1; color:#fff; text-shadow:none}

a {color:#F00}
a:hover, a:visited {color:#F00}
a:focus {outline:thin dotted}
a:hover, a:active {outline:0}

address {display:inline; font-style:normal}
b, strong {font-weight:600}
blockquote {margin:1em 40px}
dfn {font-style:italic}
hr {display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0}
ins {background:#ff9; color:#000; text-decoration:none}
mark {background:#ff0; color:#000; font-style:italic; font-weight:600}
pre {white-space:pre; white-space:pre-wrap; word-wrap:break-word}
q {quotes:none}
q:before, q:after {content:''; content:none}
small {font-size:85%}

sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline}
sup {top:-0.5em}
sub {bottom:-0.25em}

ul, ol {margin:1em 0; padding:0}
li > ul, li > ol {padding-left:2em; margin-top:0}
dd {margin:0 0 0 40px}
nav ul, nav ol {list-style:none; list-style-image:none; margin:0; padding:0}

img {border:0; -ms-interpolation-mode:bicubic; vertical-align:middle}
svg:not(:root) {overflow:hidden}
figure {margin:0}

table {border-collapse:collapse; border-spacing:0}
td {vertical-align:top}

/* =============================================================================
   Primary styles
   Author: Dan Brubaker Horst
   ========================================================================== */
@font-face {
  font-family: 'firamonoregular';
  src: url('/fonts/fira-mono/firamono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  color:#222;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
h1, h2, h3, nav a, .post-listing .category {font-family:'Playfair Display', Bodoni, serif}
pre, code, kbd, samp {font-family: 'firamonoregular', monospace, serif; font-size:1em}

body {padding:1em}

h1,
h2,
h3 {font-weight:normal; margin:.375em 0}
h1 {font-size:1.5em; margin-top:0} /* 24px */
h2 {font-size:1em} /* 16px */
h3, nav a {font-size:.75em; letter-spacing:.1em; text-transform:uppercase} /* 12px */
h3 {line-height:2}

nav a {display:inline-block; text-decoration:none; transition: color 0.3s ease}
nav a,
nav a:visited {color:#222}
nav a:hover {color:#F00}
header nav a {margin-right:1em}

#content {min-width:10em}
#banner nav, #container, footer section {margin:0 auto; max-width:36em}
#banner nav {padding-bottom:1em}

.listing a,
h2 a,
.listing a:hover,
h2 a:hover,
.listing a:visited,
h2 a:visited {color:#222}

time {display:block}
header p time {display:inline; white-space:nowrap}

section hgroup,
section header {margin-bottom:1em}
hgroup h1,
header h1 {margin-bottom:0}
hgroup h2 {font-size:1.125em; font-family:vollkornitalic; margin-top:0}

p {margin:0}
article p {margin-bottom:1em}
p code {font-size:.75em; padding:0 .3em}

footer {padding-bottom:1em}
article hr, footer hr {border-bottom:1px solid #222; display:block; height:0; margin:2em auto; width:6em;}
footer p+p {margin-top:.375em}
footer nav {text-align:center; margin-top:1.5em}

.index-page footer nav {margin-top:0}
.home #container h3 {margin-top:2em}

ul li {list-style:none; position:relative;}
main ul li:before {content:''; position:absolute; top:.7em; left:-.6em; border:2px solid #222}
.social-icons li:before, .stacked-list li:before {border:0}
.stacked-list a {font-size: 1.2em; line-height: 1.8}
.inline-list {list-style-type:none; margin:0}
.inline-list li {display:inline-block}

.post-listing {margin-bottom: .5em; position:relative}
.post-listing a {text-decoration:none; transition: color 0.3s ease}
.post-listing a:hover {color:#F00}
.post-listing time {position:absolute; right:0; text-align:left; top:0; width:5.5em}
.post-listing .title {display:block; padding-right:6em}
.post-listing .category {display:block; text-transform:uppercase; font-size:.6em; letter-spacing:.1em}

.post-title {margin-bottom:.3em}
.post-meta {margin-bottom:2em}

.text-wrapper {margin-bottom:1em}

.avatar-wrapper {border-radius:50%; border:1px solid #222; height:15em; margin:1em auto; overflow:hidden; padding:2px; width:15em;}
.avatar-wrapper img {border-radius:50%; width:100%}

.social-icons {line-height:1; max-width:12em; margin:0 auto; text-align:center}
.social-icon {padding:.5em}
.icon-wrapper, .social-icon {display:inline-block}
.icon-wrapper {width:1.5em}
.icon-wrapper svg {fill:#222; transition: fill 0.3s ease}
.icon-wrapper:hover svg, .icon-wrapper:focus svg {fill:#F00}

/* =============================================================================
   Media Queries
   Author: Dan Brubaker Horst
   ========================================================================== */

/* NOTE: media queries sized with "em" use the root font size (typically 16px) */

/* Phone landscape */
@media only screen and (min-width:20.5em) { /* > 320 */
}

/* Tablet portrait */
@media only screen and (min-width:30.5em) { /* > 480 */
  html {font-size:112.5%; -webkit-text-size-adjust:112.5%; -ms-text-size-adjust:112.5%} /* move base size from 16px to 18px */
  footer p+p {margin-top:0}
  time {display:inline}
  body {padding:2em}
  .social-icons {max-width:40em}
  .icon-wrapper {width:2em}
}

/* Tablet landscape */
@media only screen and (min-width:48.5em) { /* > 768 */
}

/* Large Screen */
@media only screen and (min-width:64.5em) { /* > 1024 */
  html {font-size:125%; -webkit-text-size-adjust:125%; -ms-text-size-adjust:125%} /* move base size from 16px to 20px */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir {display:block; border:0; text-indent:-100%; overflow:hidden; background-color:transparent; background-repeat:no-repeat; text-align:left; direction:ltr; *line-height:0}
.ir br {display:none}
.hidden {display:none !important; visibility:hidden}
.visuallyhidden {border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto}
.invisible {visibility:hidden}
.clearfix:before, .clearfix:after {content:""; display:table}
.clearfix:after {clear:both}
.clearfix {*zoom:1}

/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
  * {background:transparent !important; color:black !important; box-shadow:none !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important} /* Black prints faster:h5bp.com/s */
  a, a:visited {text-decoration:underline}
  a[href]:after {content:" (" attr(href) ")"}
  abbr[title]:after {content:" (" attr(title) ")"}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content:""}  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {border:1px solid #999; page-break-inside:avoid}
  thead {display:table-header-group} /* h5bp.com/t */
  tr, img {page-break-inside:avoid}
  img {max-width:100% !important}
  @page {margin:0.5cm}
  p, h2, h3 {orphans:3; widows:3}
  h2, h3 {page-break-after:avoid}
}
