---
layout:     boilerplate
formatting: article
---
<header id="banner" role="banner">
  <nav>
    <a href="/articles">Articles</a>
    <a href="/notes">Notes</a>
    <a href="http://dan.brubakerhorst.com">About</a>
  </nav>
</header>

<section id="container" role="main" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="title" class="instapaper_ignore">{{ page.title }}</h1>
    <p class="subtle">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a itemprop="url" href="http://dan.brubakerhorst.com/about/"><span itemprop="name">Dan Brubaker Horst</span></a>
    </span> &mdash;
    {% if page.revised %}
    <time datetime="{{ page.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated">{{ page.date | date:"%B %e, %Y" }}</time>,  last updated <time datetime="{{ page.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateRevised">{{ page.revised | date:"%B %e, %Y" }}</time>
    {% else %}
    <time datetime="{{ page.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated">{{ page.date | date:"%B %e, %Y" }}</time>
    {% endif %}
    </p>
  </header>
  <article itemprop="articleBody" class="instapaper_body">
    {{ content }}
  </article>
</section>

<footer>
  <hr/>
  <section>
    <p>
      Please direct any comments or questions to <a href="https://www.twitter.com/danhorst">@danhorst</a>.
    </p>
    {% if page.filename %}
    <p>
      The content of this page is <a href="https://github.com/danhorst/danhorst.github.com/blob/master/_posts/{{ page.filename }}">available on github</a>.
    </p>

    <p>
      Edits and <a href="http://help.github.com/send-pull-requests/">pull requests</a> are welcome.
    </p>
    {% endif %}
  </section>
  <nav>
    <a href="/">Home</a>
  </nav>
</footer>
