---
layout: boilerplate
---
<header id="banner" role="banner">
  <nav>
    <a href="/articles">Articles</a>
    <a href="/notes">Notes</a>
    <a href="/about">About</a>
  </nav>
</header>

<section id="container">

  {{ content }}

</section>

<footer>
  <section>
    <p>Please direct any comments or questions to <a href="https://www.twitter.com/danhorst">@danhorst</a>.</p>
    <p>The content of this site is <a href="https://github.com/danhorst/danhorst.github.com">available on github</a>.</p>
  </section>
</footer>
