---
layout:   page
category: article
title:    Articles &mdash; Dan Brubaker Horst
---
<h1>Articles</h1>

<ul class="articles listing">
  {% for post in site.categories.articles %}
    <li itemscope itemtype="http://schema.org/Article">
      <a itemprop="name" href="{{ post.url }}">{{post.title }}</a>
      {% if post.revised %}
      <time itemprop="dateRevised">{{ post.revised | date:"%Y-%m-%d" }}</time>
      {% else %}
      <time itemprop="dateCreated">{{ post.date | date:"%Y-%m-%d" }}</time>
      {% endif %}
    </li>
  {% endfor %}
</ul>
